/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
  --gap: 1.2rem;
}

body {
  font-family: roboto;
  background-color: var(--bg-color--dark);
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

.container {
  /* display: flex;
  flex-flow: column nowrap; */
  margin: 0 auto;
  padding: 0 15px;
}


/*NAVIGATION*/
.nav {
  background-color: var(--bg-color--header);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em;
}

.burger {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.burger div {
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.burger div + * {
  margin-top: 8px;
}

.logo {
  font-weight: 300;
}
.logo span {
  color: red;
}

/***/

/*HEADER*/
.header {
  /* background-image: url('../img/post0.jpg'); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  margin: var(--gap) 0;
}

.header__text {
  position: absolute;
  left: 2em;
  bottom: 2em;
}

.header__title {
  font-weight: 100;
  padding-bottom: 0.5em;
}

.header_des {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #aaa;
}

/***/

/*MAIN*/
.main {
  display: flex;
  flex-flow: row nowrap;
}

.article {
  flex: 1 1 auto;
}

.card {
  display: flex;
  flex-flow: row nowrap;
}


.card__img {
  flex: 1 1 0;
}
.card__img img {
  display: block;
  width: 100%;
}

.card-inner {
  flex: 2 1 0;
  padding: 1.5em;
  position: relative;
}
.card-inner__title {
  font-weight: 300;
  padding-bottom: 0.3em;
}
.card-inner__des {
  line-height: 1.6;
}

.card__img:hover,
.card-inner:hover {
  opacity: 0.75;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 1em;
}


.date span {
  display: block;
  font-weight: 300;
  opacity: 0.4;
}
.date__num {
  font-size: 3rem;
}
.date__mon {
  font-size: 1.5rem;
}

  /*SIDEBAR*/
.sidebar {
 flex: 0 0 25%;
 margin-left: var(--gap);
 color: #000;
}

.news {
  background-color: #fff;
}

.news + * {
  margin-top: var(--gap);
}

.news img {
  /* flex: 1 1 0; */
  display: block;
  width: 100%;
}

.news__text {
  padding: 1.5em;
}

.news__title {
  font-weight: 300;
  padding-bottom: 0.5em;
}

.news__des {
  line-height: 1.6;
}
  /***/
/***/


/*MEDIA*/
@media screen and (min-width: 480px) {
  .container {
    width: 449.98px;
  }

  .header {
    overflow: hidden;
  }

  .header img {
    display: block;
    min-width: 100%;
    max-height: 25em;
  }

  .nav {
    flex-flow: column nowrap;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .logo {
    margin-top: 1.5em;
  }

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .header__text {
    width: auto;
  }

  .card {
    flex-flow: column nowrap;
  }

  .date {
    right: 1em;
  }

  .main {
    display: flex;
    flex-flow: column nowrap;
  }

  .sidebar {
   margin-left: 0;
  }

  .footer {
    background-color: var(--bg-footer-color);
    display: block;
    margin-top: var(--gap);
    color: #aaa;
    padding: 2em;
    line-height: 1.6;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 14px;
  }

  .container {
    width: 737.98px;
  }

  .header img {
    display: block;
    width: 100%;
  }

  .nav {
    flex-flow: column nowrap;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .logo {
    margin-top: 1.5em;
  }

  .menu {
    display: none;
  }

  .burger {
    display: block;
  }

  .header__text {
    width: auto;
  }

  .card {
    flex-flow: column nowrap;
  }

  .main {
    display: flex;
    flex-flow: row nowrap;
  }

  .sidebar {
   margin-left: var(--gap);
  }

  /*FOOTER*/
  .footer {
    background-color: var(--bg-footer-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--gap);
    color: #aaa;
    padding: 2em;
    line-height: 1.3;
  }

  .footer p + p {
    padding-top: 0.5em;
  }
  /***/

}



@media screen and (min-width: 1400px) {
  .container {
    width: 1369.98px;
  }

  .nav {
    flex-flow: row nowrap;
    padding-top: 0;
    padding-bottom: 0;
  }

  .burger {
    display: none;
  }

  .logo {
    margin-top: 0;
  }

  .menu {
    display: inline-flex;
  }

  .menu a {
    display: inline-block;
    padding: 2em;
    font-weight: bold;
    color: var(--link);
  }
  .menu a:hover {
    background-color: var(--link--hover);
  }

  .header__text {
    width: 70%;
  }

  .card {
    flex-flow: row nowrap;
  }

  .card:nth-child(odd) {
    flex-flow: row nowrap;
    text-align: left;
    padding-right: 1.5em;
  }

  .card:nth-child(even) {
    flex-flow:  row-reverse nowrap;
    text-align: right;
    padding-left: 1.5em;
  }

  .card:nth-child(odd) .date {
    right: 1em;
    text-align: right;
  }
  .card:nth-child(even) .date {
    left: 1em;
    text-align: left;
  }

  .sidebar {
   margin-left: var(--gap);
  }
}
