$bgImg: url('../img/m-h-night.jpg');

$colors: (
  bgColor: #fff,
  bgCardColor: #2C2E38,
  bgFooterColor: #21232E,
  color: #778178,
  colorSecond: #fff,
  colorThird: #C0C3CE,
  hlColor: #14A0C7,
  btnColor: #699900,
  btnColorHover: #2C5ADC
);

$ffFirst: 'Source Sans Pro', sans-serif;
$ffSecond: 'Fresca', sans-serif;
