$bgImg: url('../img/m-h-day.jpg');

//Colors
$colors: (
  bgColor: #fff,
  bgCardColor: #2C2E38,
  bgFooterColor: #21232E,
  colorMain: #2C2F3C,
  colorSecond: #fff,
  colorThird: #C0C3CE,
  hlColor: #14A0C7,
  btnColor: #699900,
  btnColorHover: #2C5ADC
);
/***/

//Fonts
$ffFirst: 'Source Sans Pro', sans-serif;
$ffSecond: 'Hind', sans-serif;

$fwLight: 400;
$fwNormal: 600;
$fwBold: bold;

  //Line Height
$lhMain: 1.25;
/***/
