$bgImg: url('../img/m-h-night.jpg');

//Colors
$colors: (
  bgColor: #21232e,
  bgCardColor: #3b3f50,
  bgFooterColor: #3b3f50,
  colorMain: #fff,
  colorSecond: #fff,
  colorThird: #d1d1d1,
  hlColor: #ff4e33,
  btnColor: #e3ac00,
  btnColorHover: #912b53
);
//***

//Fonts
$ffFirst: 'Source Sans Pro', sans-serif;
$ffSecond: 'Fresca', sans-serif;

$fwLight: 400;
$fwNormal: 600;
$fwBold: bold;

  //Line height
$lhMain: 1.25;
//***
